html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.kids-section {
  background: url(../images/bg_k.jpg) fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

.kids-message {
  margin-left: 355px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px; }

.header-kids {
  display: flex;
  flex-direction: row; }
  .header-kids input {
    width: 400px;
    height: 30px;
    outline: 0;
    background: transparent;
    border: 2px solid white;
    margin-top: 48px;
    margin-left: 85px; }

.colortext {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px; }

.search-button {
  width: 30px;
  height: 40px;
  margin-top: 45px;
  margin-left: 12px; }

.logOut-button {
  width: 38px;
  height: 38px;
  margin-top: 45px;
  margin-left: 150px;
  cursor: pointer; }

.avatar-button {
  width: 33px;
  height: 33px;
  margin-top: 47px;
  margin-left: 25px;
  cursor: pointer; }

.movies-section {
  margin-left: 300px;
  margin-right: 300px; }

.movie-header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 40px;
  margin-top: 130px;
  text-transform: uppercase; }

.movie-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.kid-movie-poster {
  margin-top: 25px;
  padding: 13px;
  border: 2px solid white; }

.kid-movie {
  position: relative; }
  .kid-movie img {
    transition: .5s ease;
    backface-visibility: hidden;
    width: 200px;
    height: 300px; }
  .kid-movie p {
    background-color: #940092;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif; }

.kid-movie:hover .kid-movie-poster {
  opacity: 0.5;
  cursor: pointer; }

.kid-movie:hover .box-hover {
  opacity: 1;
  cursor: pointer; }

footer {
  margin-top: 75px;
  min-width: 100%; }

.margin-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 25px; }
  .margin-footer h2 {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px; }
  .margin-footer p {
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
    cursor: pointer; }

.adult-section {
  background: url(../images/bg_a.jpg) fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

.login-form {
  margin: 50px auto 0 auto;
  height: 350px;
  padding: 50px;
  background: url(../images/login_bg.png); }
  .login-form h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    margin-bottom: 50px; }
  .login-form input {
    padding: 10px;
    border-bottom: 2px solid white;
    width: 400px;
    height: 30px;
    outline: 0;
    background: white;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-radius: 35px;
    border: none; }
  .login-form input::placeholder {
    color: #72007e;
    font-size: 16px; }
  .login-form .submit-btn {
    text-transform: uppercase;
    width: 150px;
    height: 45px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #72007e;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer; }
  .login-form .border-input {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .login-form .text {
    color: #72007e;
    font-size: 16px; }

.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .rate img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 60px;
    width: 60px;
    cursor: pointer; }
  .rate .rs-one {
    margin-top: 15px;
    background: url(../images/kid_star_1.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-two {
    margin-top: 15px;
    background: url(../images/kid_star_2.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-three {
    margin-top: 15px;
    background: url(../images/kid_star_3.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-four {
    margin-top: 15px;
    background: url(../images/kid_star_4.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-five {
    margin-top: 15px;
    background: url(../images/kid_star_5.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }

.lightbox {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  background: url(../images/lbox_bg.png);
  background-size: cover;
  color: white;
  width: 80%;
  height: 80%;
  overflow: scroll; }
  .lightbox button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; }

select {
  margin-top: 20px; }

.close-lightbox {
  position: absolute;
  right: 30px;
  margin-top: 30px;
  background: url(../images/x.svg) no-repeat;
  width: 50px;
  height: 50px; }

.flex-lightbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.storyline {
  width: 300px; }

.video-player {
  margin-top: 10%;
  width: 800px;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .video-player video {
    width: 600px;
    margin: 0 auto; }

.header-two-lightbox {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between; }

.lightbox-style-content {
  width: 400px;
  margin-top: 10%; }
  .lightbox-style-content h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 35px; }
  .lightbox-style-content h3, .lightbox-style-content h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 15px; }
  .lightbox-style-content p {
    margin-top: 30px;
    line-height: 25px;
    font-size: 20px; }
  .lightbox-style-content input {
    margin-top: 20px;
    border: 2px white solid;
    text-align: center;
    border-radius: 35px;
    background: transparent;
    height: 40px;
    width: 300px; }
  .lightbox-style-content input::placeholder {
    color: white;
    font-size: 15px; }
  .lightbox-style-content .input-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .lightbox-style-content button {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; }
  .lightbox-style-content button:hover {
    color: #662d91; }
  .lightbox-style-content .colortext {
    color: white;
    font-size: 15px; }
  .lightbox-style-content h5 {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 330px;
    text-align: center; }
  .lightbox-style-content h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 330px; }
  .lightbox-style-content h5:hover {
    color: #662d91; }
  .lightbox-style-content .com-area {
    width: 330px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    .lightbox-style-content .com-area li {
      margin-top: 5px; }

label {
  display: none; }

body {
  background: url(../images/bg1.jpg) no-repeat center center fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

.parent {
  margin-right: 20px;
  background-color: purple;
  width: 200px;
  height: 200px; }

.child {
  background-color: pink;
  width: 200px;
  height: 200px; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 250px; }

.user-message {
  margin-left: 350px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  color: white;
  font-size: 70px; }

.user-name {
  color: white; }

.col-sm-12 {
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: space-between;
  margin: 5% auto 0 auto; }

.col-sm-1 {
  position: relative; }
  .col-sm-1 img {
    transition: .5s ease;
    backface-visibility: hidden; }

.box-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }
  .box-hover p {
    background-color: #940092;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif; }

.col-sm-1:hover .u-avatar {
  opacity: 0.5; }

.col-sm-1:hover .box-hover {
  opacity: 1; }

.u-avatar {
  padding: 10px;
  border: 2px solid white; }

.welcome-message {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 150px; }
