html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.kids-section {
  background: url(../images/bg_k.jpg) fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

.kids-message {
  margin-left: 355px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px; }

.header-kids {
  display: flex;
  flex-direction: row; }

input {
  width: 400px;
  height: 30px;
  outline: 0;
  background: transparent;
  border: 2px solid white;
  margin-top: 48px;
  margin-left: 85px; }

.colortext {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px; }

.search-button {
  width: 30px;
  height: 40px;
  margin-top: 45px;
  margin-left: 12px; }

.logOut-button {
  width: 38px;
  height: 38px;
  margin-top: 45px;
  margin-left: 150px; }

.avatar-button {
  width: 33px;
  height: 33px;
  margin-top: 47px;
  margin-left: 25px; }

.movies-section {
  margin-left: 300px;
  margin-right: 300px; }

.movie-header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 40px;
  margin-top: 130px;
  text-transform: uppercase; }

.movie-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.kid-movie-poster {
  margin-top: 25px;
  padding: 13px;
  border: 2px solid white; }

.kid-movie {
  position: relative; }
  .kid-movie img {
    transition: .5s ease;
    backface-visibility: hidden; }

.kid-movie:hover .kid-movie-poster {
  opacity: 0.5;
  cursor: pointer; }

.kid-movie:hover .box-hover {
  opacity: 1;
  cursor: pointer; }

p {
  background-color: #940092;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  font-family: 'Montserrat', sans-serif; }

.adult-section {
  background: url(../images/bg_a.jpg) fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

body {
  background: url(../images/bg1.jpg) no-repeat center center fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }

.parent {
  margin-right: 20px;
  background-color: purple;
  width: 200px;
  height: 200px; }

.child {
  background-color: pink;
  width: 200px;
  height: 200px; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 250px; }

.user-message {
  margin-left: 350px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  color: white;
  font-size: 70px; }

.user-name {
  color: white; }

.col-sm-12 {
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: space-between;
  margin: 5% auto 0 auto; }

.col-sm-1 {
  position: relative; }
  .col-sm-1 img {
    transition: .5s ease;
    backface-visibility: hidden; }

.box-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.col-sm-1:hover .u-avatar {
  opacity: 0.5; }

.col-sm-1:hover .box-hover {
  opacity: 1; }

p {
  background-color: #940092;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  font-family: 'Montserrat', sans-serif; }

.u-avatar {
  padding: 10px;
  border: 2px solid white; }

.welcome-message {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 150px; }
