@import 'modules/reset';
@import 'modules/kidspage.scss';
@import 'modules/adultpage.scss';
@import 'modules/login.scss';
@import 'modules/lightbox.scss';

//admin panel
.router-flex {
    margin: 0 auto;
    width: 285px
}
.upd-movies {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0 30px 0 auto;
    font-size: 23px;
}

.upd-movies:hover {
    border-bottom: 3px solid white;
}

// end

body {
    background: url(../images/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.user-message {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    color: white; 
    font-size: 50px;
}

.welcome-message{

    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    
}


label {
    display: none;
}

.col-sm-12 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin:0 auto;
     
}

.col-sm-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto 0 auto;

    img {
        transition: .5s ease;
        backface-visibility: hidden;

    }
}


.box-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    p {
        background-color:#940092;
        color: white;
        font-size: 20px;
        padding: 16px 32px;
        font-family: 'Montserrat', sans-serif;
      }
  }
  

  .col-sm-1:hover .u-avatar {
    opacity: 0.5;
  }
  
  .col-sm-1:hover .box-hover {
    opacity: 1;
  }
  
  


.u-avatar{ 
    padding: 10px;
    border: 2px solid white;

    
}



@media screen and (min-width:768px){

.welcome-message{

    font-size: 30px;
    margin-top: 150px;
    
}

.user-message {
    margin-left: 20%;
    margin-top: 25px;
    font-size: 70px;
    text-align: left;
}    


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;

}


.user-name {
    color: white;
   
}

.col-sm-12 {
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between; 
    margin:5% auto 0 auto;
    
    
}

.col-sm-1 {
    position: relative;
    margin: 0;

    img {

        transition: .5s ease;
        backface-visibility: hidden;
    }
}





}





