.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .rate img {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 60px;
    width: 60px;
    cursor: pointer; }
  .rate .rs-one {
    margin-top: 15px;
    background: url(../images/kid_star_1.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-two {
    margin-top: 15px;
    background: url(../images/kid_star_2.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-three {
    margin-top: 15px;
    background: url(../images/kid_star_3.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-four {
    margin-top: 15px;
    background: url(../images/kid_star_4.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .rate .rs-five {
    margin-top: 15px;
    background: url(../images/kid_star_5.svg) no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer; }

.lightbox {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  background: url(../images/lbox_bg.png);
  background-size: cover;
  color: white;
  width: 80%;
  height: 80%;
  overflow: scroll; }
  .lightbox button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; }

select {
  margin-top: 20px; }

.close-lightbox {
  position: absolute;
  right: 30px;
  margin-top: 30px;
  background: url(../images/x.svg) no-repeat;
  width: 50px;
  height: 50px; }

.flex-lightbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.storyline {
  width: 300px; }

.video-player {
  margin-top: 10%;
  width: 800px;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .video-player video {
    width: 600px;
    margin: 0 auto; }

.header-two-lightbox {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between; }

.lightbox-style-content {
  width: 400px;
  margin-top: 10%; }
  .lightbox-style-content h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 35px; }
  .lightbox-style-content h3, .lightbox-style-content h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 15px; }
  .lightbox-style-content p {
    margin-top: 30px;
    line-height: 25px;
    font-size: 20px; }
  .lightbox-style-content input {
    margin-top: 20px;
    border: 2px white solid;
    text-align: center;
    border-radius: 35px;
    background: transparent;
    height: 40px;
    width: 300px; }
  .lightbox-style-content input::placeholder {
    color: white;
    font-size: 15px; }
  .lightbox-style-content .input-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .lightbox-style-content button {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; }
  .lightbox-style-content button:hover {
    color: #662d91; }
  .lightbox-style-content .colortext {
    color: white;
    font-size: 15px; }
  .lightbox-style-content h5 {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 330px;
    text-align: center; }
  .lightbox-style-content h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 330px; }
  .lightbox-style-content h5:hover {
    color: #662d91; }
  .lightbox-style-content .com-area {
    width: 330px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    .lightbox-style-content .com-area li {
      margin-top: 5px; }
