
.kids-section {
    background: url(../images/bg_k.jpg)  fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.kids-message {
    margin-left: 355px;
    font-family: 'Montserrat', sans-serif;
    color: white; 
    font-size: 20px;
}

.header-kids {
    display: flex;
    flex-direction:row;
}

input {
    width: 400px;
    height: 30px;
    outline: 0;
    background: transparent;
    border: 2px solid white;
    margin-top: 48px;
    margin-left: 85px;

}

.colortext {
    font-family: 'Montserrat', sans-serif;
    color: white; 
    font-size: 20px;

}

.search-button {
    width: 30px;
    height: 40px;
    margin-top: 45px;
    margin-left: 12px;
}

.logOut-button { 
    width: 38px;
    height: 38px;
    margin-top: 45px;
    margin-left: 150px;

}

.avatar-button { 
    width: 33px;
    height: 33px;
    margin-top: 47px;
    margin-left: 25px;

}

.movies-section {
    margin-left: 300px;
    margin-right: 300px;
}

.movie-header {
    font-family: 'Montserrat', sans-serif;
    color: white; 
    font-size: 40px;
    margin-top: 130px;
    text-transform: uppercase;


}

.movie-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.kid-movie-poster {
    margin-top: 25px;
    padding: 13px;
    border: 2px solid white;

}

.kid-movie {
    position: relative;

    img {
        transition: .5s ease;
        backface-visibility: hidden;
        width: 200px;
        height: 300px;
    }

    p {
        background-color:#940092;
        color: white;
        font-size: 20px;
        padding: 16px 32px;
        font-family: 'Montserrat', sans-serif;
      }
    
}



  .kid-movie:hover .kid-movie-poster {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .kid-movie:hover .box-hover {
    opacity: 1;
    cursor: pointer; 
    
  }
  
  
  footer {
     
      margin-top: 75px;
      min-width: 100%;
    //   height: 150px;
    //   background-color: white;
    //   opacity: 0.2;
  }

  .margin-footer { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 25px;

    h2 {
        color: white;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 25px;
    }

    p {
        color: white;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 2px;
        cursor: pointer; 
        
        

    }
  }

  